body
{
	font-size: 125%;
	overflow-x: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
	margin-left: 0px;
    margin-right: 0px;
	background-color: rgb(152,112,111);
	background-attachment: fixed;
	background-image: url('../img/bcg.png');
	color: white;	
}

#fixedBottom
{
	position: fixed;
	bottom: -20px;
	width: 100vw;
}

#form_about
{
	resize: none;
	height: 12.5rem;
}

.submittedFrom
{
	display: inline-block;
	width: 510px;
	font-size: 1em;
}

.entryImage
{
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 8px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 8px 0px rgba(0, 0, 0, 1);
	width: 120px;
	height: 120px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center; 
	background-color: rgba(255, 255, 255, 0.4);
}

.aboutContainer
{
	height: 120px;
	overflow-y: auto;
	margin-bottom: 6px;
}
.tagsContainer
{
	height: 38px;
	overflow-y: auto;
	margin-bottom: 6px;
	font-weight: bold;
	font-size: 2em;
}

.remover
{
	margin-left: -130px;
	margin-top: 4px;
}

.modifier
{
	margin-top: 4px;
}

.entry
{
	background-color: rgba(255, 255, 255, 0.2);
    margin-top: 0px;
    margin-bottom: 10px;
	margin-left: -10px;
    margin-right: -10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	
	transition: -webkit-box-shadow 0.3s;
	transition: -moz-box-shadow 0.3s;
	transition: box-shadow 0.3s;
}

form
{
	color: black;
}

#addEntry
{
	margin-left: 10px;
	margin-top: -10px;
	margin-bottom: 60px;
}

.modal-title
{
	color: black;
}