<nav id="fixedBottom" class="navbar navbar-inverse"  role="navigation">
	<div class="container-fluid" >
		<div class="navbar-header">
			<div class="navbar-brand">© Jędrzej Darda 2014</div>
		</div>
	</div>
</nav>